body {
    font-family: "outfit" sans-serif;

    footer {
        .attribution {
            font-size: 11px;
            text-align: center;
            a {
                color: $link-color;
            }
        }
    }
}
